<title><{translate('运营管理')}> - <{if $row['id']}><{translate('编辑')}><{else}><{translate('添加')}><{/if}><{translate('热门城市')}> </title>
<!--<div class="page-header">-->
    <!--<h1>-->
        <!--信息管理 <small> <i class="ace-icon fa fa-angle-double-right"></i> <{if $row['id']}>编辑<{else}>添加<{/if}>问题-->
    <!--</small>-->
    <!--</h1>-->
<!--</div>-->
<!-- /.page-header -->

<div class="row">
    <div class="col-md-12">
        <div class="main">
            <ul class="nav nav-tabs">
                <li><a href="/admin_system#page/admin_feedback/hot_keyword/"><{translate('热门城市')}></a></li>
                <li class="active"><a href="/admin_system#page/admin_feedback/edit_hot_keyword/<{$row['id']}>"><{if $row['id']}><{translate('编辑')}><{else}><{translate('添加')}><{/if}><{translate('热门城市')}></a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body table-responsive">

                    <form class="form-horizontal" role="form" id="submitform" action="/admin_feedback/edit_hot_keyword/<{$row['id']}>" method="post" accept-charset="utf-8">
                        <div class="form-group">
                            <label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('热门城市')}>:</label>
                            <div class="col-xs-12 col-sm-4">
			<span class="block">
				<input id="keyword" name="keyword" value="<{$row['keyword']}>" class="form-control input-width" required />
			</span>
                            </div>
                            <div class="help-block inline"></div>
                        </div>


                        <div class="form-group">
                            <label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('城市类型')}>:</label>
                            <div class="col-xs-12 col-sm-5">
			<span class="block">
				<label> <input type="radio" name="language" class="language" value="1" <{if $row['language']==1}>checked="checked" <{/if}>> <{translate('中国')}>
					</label> &nbsp;&nbsp;&nbsp;<label> <input type="radio" class="language" name="language" value="2" <{if $row['language']==2}>checked="checked" <{/if}>> <{translate('日本')}>
					</label>&nbsp;&nbsp;&nbsp;<!--<label> <input type="radio" name="status" value="2">已禁用-->
                <!--</label>-->
			</span>
                            </div>
                            <div class="help-block inline"></div>
                        </div>


                        <div class="form-group" id="mark">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="button" id="saveedit" class="btn  btn-primary btn-lg">提交</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var isbusy = false;

    $(function(){
        $('#submitform').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: true,
            rules: {
                title: {
                    required: true
                }
            }
        });

        $('#saveedit').click(function(){
            if(!$('#submitform').valid())return false;
            if(isbusy)return false;
            isbusy = true;
            tooltipbox.show("<{translate('正在执行操作')}>");
            $.post('/admin_feedback/edit_hot_keyword/<{$row['id']}>', $('#submitform').serialize(), function(res){
                if(res.status == '1'){
                    tooltipbox.show("<{translate('操作完成')}>");
                    location.href = '/admin_system#page/admin_feedback/hot_keyword/';
                }else if(res.status == '0'){
                    tooltipbox.alert("<{translate('相同记录已经存在')}>");
                }else{
                    tooltipbox.show("<{translate('数据或网络错误')}>");
                }
                isbusy = false;
            }, 'json').error(function(a, b, c){
                tooltipbox.show("<{translate('数据或网络错误')}>");
                isbusy = false;
            });
        });
    });
</script>