<title><{translate('店舗管理')}> - <{translate('評価詳細')}></title>
<div class="page-header">
    <h1>
        <{translate('店舗管理')}> <small> <i class="ace-icon fa fa-angle-double-right"></i> <{translate('評価詳細')}>
    </small>
    </h1>
</div>
<!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">

        <ul class="nav nav-tabs">
            <li ><a href="/admin_system#page/admin_shop/shop_evaluate?page=<{$p}>"><{translate('評価リスト')}></a></li>
            <li class="active"><a href="/admin_system#page/admin_shop/evaluate/<{$shop_id}>/<{$p}>"><{translate('評価詳細')}></a></li>
        </ul>
        <br />

        <div class="panel panel-success">
            <div class="panel-heading" onclick="$(this).parent().find('.panel-body').toggle()"><i class="glyphicon glyphicon-chevron-down"></i> <{translate('スクリーニング')}></div>
            <div class="panel-body" style="display:">

                <div class="form-group form-search form-inline">
                    <label class="control-label"><{translate('顧客')}></label>
                    <input id="user_id"  name="user_id" value="<{$get.user_id}>" style="width: 200px;" />

                    <label class="control-label"><{translate('記入日時')}></label>
                    <input class="form-control datetimepicker" name="ctime1" id="ctime1" type="text" value="<{$get.ctime1}>" placeholder="">
                    <label class="control-label"><{translate('〜')}></label>
                    <input class="form-control datetimepicker" name="ctime2" id="ctime2" type="text" value="<{$get.ctime2}>" placeholder="">
                    <button class="btn btn-default btn-sm"><i class="fa fa-search"></i> <{translate('検索する')}></button>
                </div>
            </div>

        </div>
        <script>
            $(function(){
                //这里处理搜索key，引用 /style/assets/js/jquery.fn.js
                //注意php代码不需要处理搜索URL参数，分页URL的处理注意本页尾的JS代码
                //$.searchURL = function(url = location.href, sConr = '.form-search', sObj = 'input,select,textarea', sJoin = ','){/**/}
                $('.btn-default').click(function(){
                    var url = $.searchURL( location.href );
                    location.href = url;
                });
                $("#adminid").select2({
                    ajax: {
                        url: "/admin_shop/search",
                        data: function (params) {
                            return {
                                keywords: params
                            };
                        },
                        results:function(data,pageNo){
                            if(data.data.length){
                                data['data'].splice(0, 0, {'id':'', 'text': "<{translate('選択してください')}>"});
                            }else{
                                data['data'] = [{'id':'', 'text': "<{translate('選択してください')}>"}];
                            }
                            return {
                                results:data.data
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data
                            };
                        },
                        type: 'post',
                        dataType: 'json'
                    },
                    initSelection: function(elem, cbfunc){
                    },
                    allowClear: false,
                    openOnEnter: false,
                    minimumInputLength: 1,
                });
            <{if $get.adminid}>$('#adminid').select2('data', {id:"<{$get.adminid}>", text:"<{$get_adminid_account}>"}).select2('val', ["<{$get.adminid}>"]);<{/if}>
                    $("#user_id").select2({
                        ajax: {
                            url: "/admin_user/search",
                            data: function (params) {
                                return {
                                    keywords: params
                                };
                            },
                            results:function(data,pageNo){
                                if(data.data.length){
                                    data['data'].splice(0, 0, {'id':'', 'text': "<{translate('選択してください')}>"});
                                }else{
                                    data['data'] = [{'id':'', 'text': "<{translate('選択してください')}>"}];
                                }
                                return {
                                    results:data.data
                                };
                            },
                            processResults: function (data) {
                                return {
                                    results: data
                                };
                            },
                            type: 'post',
                            dataType: 'json'
                        },
                        initSelection: function(elem, cbfunc){
                        },
                        allowClear: false,
                        openOnEnter: false,
                        minimumInputLength: 1,
                    });
                <{if $get.user_id}>$('#user_id').select2('data', {id:"<{$get.user_id}>", text:"<{$get_userid_account}>"}).select2('val', ["<{$get.user_id}>"]);<{/if}>
            });
        </script>
        <form class="form-horizontal" role="form" id="submitform">
          <!--  <div class="table-actions">
                <button class="btn  btn-purple btn-xs " id="sortBtn"> <i class="fa fa-sort" ></i>排序</button>
            </div>-->
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th><{translate('ユーザー名')}></th>
                    <th><{translate('評価点')}></th>
                    <th><{translate('評価コメント')}></th>
                    <th><{translate('記入日時')}></th>
                </tr>
                </thead>
                <tbody>
                <{foreach $list.list as $v}>
                <tr class="alert1 success" align="left">
                    <td>
                        <{if $gid==1}>
                        <input type="checkbox" name="id[]" value="<{$v['id']}>" />
                        <{/if}>
                        <img src="<{$v['user']['avatar']}>" alt=""  style="border-radius: 30px;" width="30" height="30" class="img-prefile"/>
                        <{$v['user']['nickname']}>
                    </td>
                    <td>
                        <{$v['score']}> <{translate('分')}>
                    </td>
                    <td><p style="width: 200px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"><{$v['content']}></p></td>
                    <td><{$v['ctime']}></td>
                </tr>
                <{/foreach}>

                <tr style="position:fixed; bottom:0; width:100%; background:#fff;z-index:9">
                    <td style="border:none" colspan="12"><input type="checkbox" id="checkall" onclick="var ck = this.checked;$('input[name=&quot;id[]&quot;]').each(function(){this.checked = ck});">
                        <{if $gid==1}>
                            <{if chkcommand('/admin_shop/evaluate_delete')}>
                        <input id="btnDelete" class="btn btn-lg btn-default" value="<{translate('删除')}>" type="button">
                            <{/if}>
                        <{/if}>
                    </td>
                </tr>

                </tbody>
            </table>
            <table   style="width:100%;" class="listpage"><tr><td ><{translate('共')}> <{$list.total}> <{translate('条记录')}> <{$list.pages}>  </td></tr></table>

        </form>
    </div>
</div>


<script type="text/javascript">
    var isbusy = false;
    //这里处理分页搜索key，引用 /style/assets/js/jquery.fn.js
    //注意php代码不需要处理搜索URL参数，分页URL的处理注意本页尾的JS代码
    //$.searchURL = function(url = location.href, sConr = '.form-search', sObj = 'input,select,textarea', sJoin = ','){/**/}
    $(function(){
        $('.listpage').find('a').each(function(){
            var url = $.replaceURL( location.href, 'page', $(this).attr('data-ci-pagination-page') );
            $(this).attr('href', url);
        });
        //YYYY-MM-DD HH:mm:ss
       /* $('.datetimepicker').datetimepicker({
            format: 'YYYY-MM-DD',
            language: 'zh-CN',
            pickDate: true,
            pickTime: true,
            hourStep: 1,
            minuteStep: 15,
            secondStep: 30,
            inputMask: true
        });*/
        laydate.render({
            elem: '#ctime1',
        });
        laydate.render({
            elem: '#ctime2'
        });

        $('#btnDelete').click(function(){
            var ckvals = $.selectCK('input[name="id[]"]');
            if(!ckvals){
                tooltipbox.show("<{translate('操作するデータを選択してください')}>");
                return false;
            }
            tooltipbox.confirm("<{translate('選択したデータを完全に削除するにはOKを押してください')}>？", function(data){
                tooltipbox.show("<{translate('操作を実行する')}>");
                $.post('/admin_shop/evaluate_delete', data, function(res){
                    if(res.status == '1'){
                        tooltipbox.show("<{translate('操作が正常に実行されました')}>");
                        location.reload();
                    }else{
                        tooltipbox.show("<{translate('データまたはネットワークエラー')}>");
                    }
                }, 'json').error(function(){
                    tooltipbox.show("<{translate('データまたはネットワークエラー')}>");
                });
            }, false, { 'ids': ckvals });
        });

        $('.img-prefile').viewer('destroy').viewer({});
        $('.img-prefile').parent().off('click', '.viewer-canvas').on('click', '.viewer-canvas', function(e){
            var _con = $(this).find('img');
            if(_con && !_con.is(e.target) && _con.has(e.target).length === 0){
                $('.img-prefile').viewer('hide');
            }
        });

    });
</script>
