<title><{translate('代理商管理')}> - <{translate('代理商列表')}></title>
<div class="page-header">
	<h1>
		<{translate('代理商管理')}> <small> <i class="ace-icon fa fa-angle-double-right"></i> <{translate('代理商列表')}> </small>
        <{if $parent.id}>
         <small> <i class="ace-icon fa fa-angle-double-right"></i> <{$parent._strpath}> </small>        
        <{/if}>
		
	</h1>
</div>
<!-- /.page-header --> 

	<script type="text/javascript" src="/style/js/cnarealist.js"></script>    
	<script type="text/javascript" src="/style/js/categorys/categorys.js"></script>    
    <link rel="stylesheet" href="/style/js/categorys/categorys.css" />
<style>
    .dialog-box{
        font: normal 12px '\5FAE\8F6F\96C5\9ED1';
        height: auto;
        position: fixed;
        top: 30%;
        left: 50%;
        z-index: 99999;
        display: none;
    }

    .show{
        display: block;
    }
    .normal{
        background: #fff;
    }
    .correct{
        border-top: 4px solid #66be8c;
        background: #f8fffb;
    }
    .error{
        border-top: 4px solid #f5694b;
        background: #fff8f7;
    }

    .dialog-box-container{
        position: relative;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 0 0 10px #bbb;
    }
    .dialog-box-title{
        height: 36px;
        line-height: 36px;
        padding: 8px 15px 0;
    }
    .dialog-box-title h3{
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        float: left;
    }
    .dialog-box-close{
        font-size: 24px;
        margin-left: 20px;
        font-weight: normal;
        float: right;
        cursor: pointer;
        display: inline-block;
        float: right;
    }
    .dialog-box-close:hover{
        color: #f5694b;
    }
    .dialog-box-content{
        font-family: 'Microsoft YaHei';
        padding: 20px;
        line-height: 24px;
        margin: 0;
    }
    .dialog-btn{
        height:30px;
        padding: 0 20px 20px;
        text-align: center;
    }
    .dialog-btn span{
        width: 90px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: inline-block;
        border-radius: 3px;
        margin: 0 10px;
        cursor: pointer;
    }
    .dialog-btn-cancel{
        background: #ddd;
    }
    .dialog-btn-cancel:hover{
        background: #d6d6d6;
    }
    .dialog-btn-confirm{
        color: #fff;
        background: #66be8c;
    }
    .dialog-btn-confirm:hover{
        background: #58B781;
    }

    #dialog-box-mask{
        /*position: absolute;*/
        position:fixed;/*LAEL*/
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99998;
        opacity: .3;
        filter: alpha(opacity=30);
        background: #000;
        display: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    #dialog-box-iframe body{
        margin: 0;
        padding: 0;
        border: 0;
    }
    /* effect */

    /* effect-fade */
    .effect-fade .dialog-box-container{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 0;
        transition: all .3s;
    }
    .show.effect-fade .dialog-box-container{
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    /* effect-newspaper */
    .effect-newspaper .dialog-box-container{
        -webkit-transform: scale(0) rotate(720deg);
        -ms-transform: scale(0) rotate(720deg);
        transform: scale(0) rotate(720deg);
        opacity: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .show.effect-newspaper .dialog-box-container{
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }

    /* effect-fall */
    .effect-fall{
        -webkit-perspective: 1300px;
        perspective: 1300px;
    }
    .effect-fall .dialog-box-container{
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: translateZ(600px) rotateX(20deg);
        -ms-transform: translateZ(600px) rotateX(20deg);
        transform: translateZ(600px) rotateX(20deg);
        opacity: 0;
    }
    .show.effect-fall .dialog-box-container{
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        -webkit-transform: translateZ(0px) rotateX(0deg);
        -ms-transform: translateZ(0px) rotateX(0deg);
        transform: translateZ(0px) rotateX(0deg);
        opacity: 1;
    }

    /* effect-scaled */
    .effect-scaled .dialog-box-container{
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
        opacity: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .show.effect-scaled .dialog-box-container{
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    /* effect-flip-horizontal */
    .effect-flip-horizontal{
        -webkit-perspective: 1300px;
        -moz-perspective: 1300px;
        perspective: 1300px;
    }
    .effect-flip-horizontal .dialog-box-container{
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: rotateY(-70deg);
        -ms-transform: rotateY(-70deg);
        transform: rotateY(-70deg);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0;
    }
    .show.effect-flip-horizontal .dialog-box-container{
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        opacity: 1;
    }

    /* effect-flip-vertical */
    .effect-flip-vertical{
        -webkit-perspective: 1300px;
        -moz-perspective: 1300px;
        perspective: 1300px;
    }
    .effect-flip-vertical .dialog-box-container{
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: rotateX(-70deg);
        -ms-transform: rotateX(-70deg);
        transform: rotateX(-70deg);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0;
    }
    .show.effect-flip-vertical .dialog-box-container{
        -webkit-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }

    /* effect-sign */
    .effect-sign{
        -webkit-perspective: 1300px;
        perspective: 1300px;
    }
    .effect-sign .dialog-box-container{
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: rotateX(-60deg);
        -ms-transform: rotateX(-60deg);
        transform: rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        opacity: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .show.effect-sign .dialog-box-container{
        -webkit-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
    /*td {
        word-break: keep-all;
        white-space: nowrap;
    }*/
</style>

<div class="row">
	<div class="col-xs-12">
    
    <ul class="nav nav-tabs">
        <li class="active"><a href="/admin_system#page/admin_corp/"><{translate('代理商列表')}></a></li>
        <!--<li><a href="/admin_system#page/admin_cash/corp">提现列表</a></li>
        <li><a href="/admin_system#page/admin_comment">评价列表</a></li>-->
    </ul>
    <br />


	<div class="panel panel-success">
    <div class="panel-heading" onclick="$(this).parent().find('.panel-body').toggle()"><i class="glyphicon glyphicon-chevron-down"></i> <{translate('筛选')}></div>
    <div class="panel-body" style="display:">

      
            <div class="form-group form-search form-inline">
				<label class="control-label"><{translate('选择代理商')}></label>
				<input id="adminid" name="adminid" value="<{$get.adminid}>" style="width:200px" />

				<!--<label class="control-label">绑定会员</label>
				<input id="userid" name="userid" value="<{$get.userid}>" style="width:200px" />-->

				<!--<div class="form-group">
                    <input type="hidden" value="<{$get.area}>" id="area" name="area" />
                    <span class="block">
                        <div class="categorys-selector" data-datalist="cnAreaList" data-clear="<{translate('所在城市')}>" data-dataval="name" data-dataview="name" data-datablock=" " data-field="area">
                        <div class="categorys-text"><{if $get.area}>	<{$get.area}> <i data-val="" data-view="<{translate('所在城市')}>"></i> <{else}> <{translate('所在城市')}> <{/if}><div></div><b></b></div>
                        <div class="categorys-close"></div>
                        </div>               
                    </span>
            	</div>-->

				<!--<label class="control-label"><{translate('城市')}></label>
				<select name="city" id="city" class="form-control">
					<option value=""><{translate('请选择')}></option>
					<{foreach $japan_city as $k=>$v}>
					<option value="<{$v['name']}>" <{if $get.city==$v['name']}>selected<{/if}>><{$v['name']}></option>
					<{/foreach}>
					&lt;!&ndash;<option value="2" <{if $get.status==strval(2)}>selected<{/if}>>已禁用</option>&ndash;&gt;
				</select>-->
                <!--<br /><br />
				<label class="control-label">入驻推荐会员</label>
				<input id="recmdid" name="recmdid" value="<{$get.recmdid}>" style="width:200px" />-->

				<label class="control-label"><{translate('状态')}></label>
				<select name="status" id="status" class="form-control">
					<option value=""><{translate('请选择')}></option>
					<option value="0" <{if $get.status==strval(0)}>selected<{/if}>><{translate('禁用')}></option>
					<option value="1" <{if $get.status==strval(1)}>selected<{/if}>><{translate('正常')}></option>
					<!--<option value="2" <{if $get.status==strval(2)}>selected<{/if}>>已禁用</option>-->
				</select>



				<br /><br />
                <label class="control-label"><{translate('注册日期')}></label>
				<input class="form-control " name="createtime1" id="createtime1" type="text" value="<{$get.createtime1}>" placeholder="">
                <label class="control-label"><{translate('至')}></label>
				<input class="form-control " name="createtime2" id="createtime2" type="text" value="<{$get.createtime2}>" placeholder="">

				<button class="btn btn-default btn-sm"><i class="fa fa-search"></i> <{translate('搜索')}></button>

			</div>
       
    </div>
 
    </div>
        <script>
            laydate.render({
                elem: '#createtime1',
            });
            laydate.render({
                elem: '#createtime2'
            });

        </script>
<script>
$(function () {
    $("#adminid").select2({
		ajax: {
			url: "/admin_corp/search",
			data: function (params) {
				return { 
					keywords: params
				};
			},
			results:function(data,pageNo){
				if(data.data.length){
					data['data'].splice(0, 0, {'id':'', 'text': "<{translate('请选择')}>"});
				}else{
					data['data'] = [{'id':'', 'text': "<{translate('请选择')}>"}];
				}
				return {
					results:data.data	
				};
			},
			processResults: function (data) {
				return { 
					results: data
				};
			},
			type: 'post',
			dataType: 'json'
		},	
		initSelection: function(elem, cbfunc){
		},
		allowClear: false,
		openOnEnter: false,
		minimumInputLength: 1,
	});
	<{if $get.adminid}>$('#adminid').select2('data', {id:"<{$get.adminid}>", text:"<{$get_adminid_account}>"}).select2('val', ["<{$get.adminid}>"]);<{/if}>
    $("#recmdid,#userid").select2({
		ajax: {
			url: "/admin_user/search",
			data: function (params) {
				return { 
					keywords: params
				};
			},
			results:function(data,pageNo){
				if(data.data.length){
					data['data'].splice(0, 0, {'id':'', 'text': "<{translate('请选择')}>"});
				}else{
					data['data'] = [{'id':'', 'text': "<{translate('请选择')}>"}];
				}
				return {
					results:data.data	
				};
			},
			processResults: function (data) {
				return { 
					results: data
				};
			},
			type: 'post',
			dataType: 'json'
		},	
		initSelection: function(elem, cbfunc){
		},
		allowClear: false,
		openOnEnter: false,
		minimumInputLength: 1,
	});
	<{if $get.recmdid}>$('#recmdid').select2('data', {id:"<{$get.recmdid}>", text:"<{$get_recmdid_account}>"}).select2('val', ["<{$get.recmdid}>"]);<{/if}>
	<{if $get.userid}>$('#userid').select2('data', {id:"<{$get.userid}>", text:"<{$get_userid_account}>"}).select2('val', ["<{$get.userid}>"]);<{/if}>
});
</script> 
				
<script>
$(function(){
	//这里处理搜索key，引用 /style/assets/js/jquery.fn.js
	//注意php代码不需要处理搜索URL参数，分页URL的处理注意本页尾的JS代码
	//$.searchURL = function(url = location.href, sConr = '.form-search', sObj = 'input,select,textarea', sJoin = ','){/**/}
	$('.btn-default').click(function(){
		var url = $.searchURL( location.href );
		location.href = url;
	});
});
</script>                 
				 
				<form class="form-horizontal" role="form" id="submitform">
	           <table class="table table-bordered table-hover">
			<thead>
          <tr>
            <th><{translate('编号')}></th>
            <!--<th>排序</th>-->
            <th><{translate('用户名')}></th>
            <th><{translate('所在角色')}></th>
            <th><{translate('代理商名称')}></th>
            <th><{translate('所在城市')}></th>
            <th><{translate('账户余额')}></th>
            <th><{translate('分成比例')}></th>
            <th><{translate('联系人')}></th>
            <!--<th>管理员</th>-->
            <th><{translate('状态')}></th>
            <th><{translate('操作')}></th>
          </tr>
        </thead> 
					<tbody>
					<{section name=values loop=$data->list}>
					<tr class="alert1 success" align="left">
						<td>
							<{$data->list[values]->id}>
						</td>
                        <!--<td>
							<input type="text" name="orderby[<{$data->list[values]->id}>]" value="<{$data->list[values]->orderby}>" size="5">
						</td>-->
						<td>
							<{$data->list[values]->adminname}>
						</td>                         
						<td>
							<{$data->list[values]->_gid}>
						</td> 
						
						<td>
                            <b><{$data->list[values]->nickname}></b>
						</td>


						<td>
							<{$data->list[values]->area}> <{$data->list[values]->address}>
						</td>
                        <td>
							<{$data->list[values]->money}> <{translate('元')}> <a href="/admin_system#page/admin_trade/divide_record/<{$data->list[values]->id}>/<{$p}>/admin_corp"><i class="fa fa-eye"></i></a>
						</td>
                        <!--<td>-->
							<!--<{$data->list[values]->cash}>-->
						<!--</td>-->
                        <td>
							<{$data->list[values]->percen}> %
						</td>
                        <!--<td>
							<{$data->list[values]->_userid}>
						</td>-->
						<!--<td>-->
							<!--<{$data->list[values]->phone}>-->
						<!--</td>-->
                        <td>
							<{$data->list[values]->name}> <{$data->list[values]->phone}>
						</td>
                        <!--<td>
							<{$data->list[values]->_mangerids}>
						</td>-->
						<td>
							<{if $data->list[values]->status == 1}><b style="color:green;"><{translate('正常')}></b><{else}><b style="color:red;"><{translate('禁用')}></b><{/if}>
						</td>
						
						<td>
							<{if chkcommand('/admin_corp/edit')}>
                            <a href="/admin_system#page/admin_corp/edit/<{$data->list[values]->id}><{$qs_pid}>" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> <{translate('编辑')}></a> |
                            <{/if}>
                            <{if chkcommand('/admin_corp/cash')}>
                            <a href="javascript:;" data-id="<{$data->list[values]->id}>"  class="btn btn-info btn-xs cash"><i class="fa fa-rmb"></i> <{translate('提现')}></a> |
                            <{/if}>
                            <{if chkcommand('/admin_corp/delete')}>
                            <a  href="javascript:;" data-id="<{$data->list[values]->id}>" class="btn btn-danger btn-xs btnDelete"><i class="fa fa-trash-o"></i><{translate('删除')}> </a> |
                            <{/if}>
                            <a href="/admin_system#page/admin_shop/?corpid=<{$data->list[values]->id}>" class="btn btn-pink btn-xs"><i class="fa fa-hospital-o"></i> <{translate('商家')}></a> |
                            <{if chkcommand('/admin_cash/corp')}>
                            <a href="admin_system#page/admin_cash/corp?adminid=<{$data->list[values]->id}>" class="btn btn-purple btn-xs"><i class="fa fa-money"></i> <{translate('提现记录')}></a> |
                            <{/if}>
                            <!--<{if chkcommand('/admin_corp/add_subordinate')}>
                            <{if $data->list[values]->level<2}>
                            <a  href="/admin_system#page/admin_corp/add_subordinate/<{$data->list[values]->id}>" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> 添加下级代理</a> |
                            <{/if}>
                            <{/if}>-->
                            <{if chkcommand('/admin_trade')}>
                            <!-- <a href="admin_system#page/admin_trade?corpid=<{$data->list[values]->id}>">交易记录</a> | -->
                            <{/if}>


						</td> 
					</tr>
				<{/section}>
				
                <tr style="position:fixed; bottom:0; width:100%; background:#fff;z-index:9">
						<td style="border:none" colspan="12">
							<{if chkcommand('/admin_corp/orderby')}>
							<!--<input id="btnOrderBy" class="btn btn-success btn-lg" value="排序" type="button">-->
                            <{/if}>
										<{if chkcommand('/admin_corp/add')}>
										<{if $_admin->_role_type == 0}>
                                        <a  href="/admin_system#page/admin_corp/add" class="btn  btn-primary btn-lg"><{translate('添加')}></a>
                                        <{/if}>
                                        <{/if}>

                                        
						</td>
					</tr>

						</tbody>
					</table>
                     <table   style="width:100%;" class="listpage"><tr><td ><{translate('共')}> <{$data->total}> <{translate('条记录')}> <{$data->pages}>  </td></tr></table>
					
				</form>
                </div>
			</div>
		</div>

<script src="/style/js/jquery.dialogBox.js"></script>

<div class="getinfo-box"></div>
 
	<script type="text/javascript">
 	var isbusy = false;
	//这里处理分页搜索key，引用 /style/assets/js/jquery.fn.js
	//注意php代码不需要处理搜索URL参数，分页URL的处理注意本页尾的JS代码
	//$.searchURL = function(url = location.href, sConr = '.form-search', sObj = 'input,select,textarea', sJoin = ','){/**/}
	$(function(){
		$('.listpage').find('a').each(function(){
			var url = $.replaceURL( location.href, 'page', $(this).attr('data-ci-pagination-page') );
			$(this).attr('href', url);
		});
        $('.cash').click(function () {
            var id=$(this).data('id');
            var url = 'admin_corp/cash/?id='+id;
            $('.getinfo-box').prev().dialogBox({
                title: "<{translate('申请提现')}>",
                fixTop: -240,
                autoSize: true,
                hasMask: true,
                hasClose: true,
                scrolling: 'auto',
                content: '<iframe src="'+url+'" frameborder="0" scrolling="no" style="width:450px;height:450px"></iframe>',

            });
        });
        $('.btnDelete').click(function(){
            var id = $(this).data('id');
            tooltipbox.confirm("<{translate('确定要删除该数据吗？')}>", function(data){
                tooltipbox.show("<{translate('正在执行操作')}>");
                $.post('/admin_corp/delete', data, function(res){
                    if(res.status == '1'){
                        tooltipbox.show("<{translate('操作执行成功')}>");
                        location.reload();
                    }else{
                        tooltipbox.show("<{translate('数据或网络错误')}>");
                    }
                }, 'json').error(function(){
                    tooltipbox.show("<{translate('数据或网络错误')}>");
                });
            }, false, { 'id': id });
        });
		$('#btnOrderBy').click(function(){
				tooltipbox.show("<{translate('正在执行操作')}>");
				$.post('/admin_corp/orderby<{$qs_pid}>', $('#submitform').serializeArray(), function(res){
					if(res.status == '1'){
						tooltipbox.show("<{translate('操作执行成功')}>");
						location.reload();
					}else{
						tooltipbox.show("<{translate('数据或网络错误')}>");
					}
				}, 'json').error(function(){
					tooltipbox.show("<{translate('数据或网络错误')}>");
				});
		});
	});
</script>
 
