<title><{translate('会员管理')}> - <{if $row['id']}><{translate('编辑')}><{else}><{translate('添加')}><{/if}><{translate('会员')}> </title>
<div class="page-header">
	<h1>
		<{translate('会员管理')}> <small> <i class="ace-icon fa fa-angle-double-right"></i> <{if $row['id']}><{translate('编辑')}><{else}><{translate('添加')}><{/if}><{translate('会员')}>
		</small>
	</h1>
</div>
<!-- /.page-header -->
	<script>window.UEDITOR_HOME_URL = '/app/third_party/ueditor1_4_3_3-utf8-php/';</script>
    <script type="text/javascript" charset="utf-8" src="/app/third_party/ueditor1_4_3_3-utf8-php/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/app/third_party/ueditor1_4_3_3-utf8-php/ueditor.all.min.js"> </script>
<!--<script type="text/javascript" charset="utf-8" src="/app/third_party/ueditor1_4_3_3-utf8-php/lang/en/en.js"></script>-->
<script type="text/javascript" charset="utf-8" src="/app/third_party/ueditor1_4_3_3-utf8-php/lang/en/en.js"></script>
	<script type="text/plain" id="j_ueditorupload" style="height:5px;display:none;" ></script>
    <script type="text/javascript" charset="utf-8" src="/app/third_party/ueditor1_4_3_3-utf8-php/ueditor.upload.js"></script>

<div class="row">
	<div class="col-md-12">
<div class="main">
    <ul class="nav nav-tabs">
        <li><a href="/admin_system#page/admin_user/"><{translate('会员列表')}></a></li>
        <li class="active"><a href="/admin_system#page/admin_user/edit/<{$row['id']}>"><{if $row['id']}><{translate('编辑')}><{else}><{translate('添加')}><{/if}><{translate('会员')}></a></li>
    </ul>

  <div class="panel panel-default">
        <div class="panel-body table-responsive">
        
        		<form class="form-horizontal" role="form" id="submitform" action="/admin_user/edit/<{$row['id']}>" method="post" accept-charset="utf-8">
             
            <div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('手机号')}>:</label>
		<div class="col-xs-12 col-sm-4">
			<span class="block">
				<input id="account" name="account" value="<{$row['account']}>" class="form-control input-width" autocomplete="new-password"  />
			</span>
		</div>
        <div class="col-xs-12 col-sm-1">
        <a href="javascript:;" class=" check-account btn  btn-primary btn-sm"><{translate('检测重复')}></a>
        </div>
		<div class="help-block inline">* <{translate('必须是手机号码')}></div>
	</div>
    
    <div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('密码')}>:</label>
		<div class="col-xs-12 col-sm-4">
			<span class="block">
				<input id="password" type="password" name="password" value=""  class="form-control input-width" autocomplete="new-password" autocomplete="off" />
			</span>
		</div>
		<div class="help-block inline">* <{translate('留空不修改密码')}>  <{if chkcommand('/admin_user/eye_password')}><i class="fa fa-eye" id="eye_password" data-text="<{$row['password1']}>"></i><{/if}></div>
	</div>

					<div class="form-group">
						<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('支付密码')}>:</label>
						<div class="col-xs-12 col-sm-4">
			<span class="block">
				<input id="pay_password" type="password" name="pay_password" maxlength="6" value="" class="form-control input-width" autocomplete="new-password" autocomplete="off" />
			</span>
						</div>
						<div class="help-block inline">* <{translate('留空不修改密码')}> <{if chkcommand('/admin_user/eye_password')}><i class="fa fa-eye" id="eye_pay_password" data-text="<{$row['pay_password1']}>"></i> <{/if}></div>
					</div>
    
      <!---->
			<div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('余额')}>:</label>
		<div class="col-xs-12 col-sm-1">
			<span class="block">
				<input id="money" type="text" name="money" value="<{$row['money']}>" class="form-control input-width" />
			</span>
		</div>
        <!--<label for="title" class="col-xs-12 col-sm-1 control-label no-padding-right">收益金额（元）:</label>
		<div class="col-xs-12 col-sm-1">
			<span class="block">
				<input id="redmoney" type="text" name="redmoney" value="<{$row['redmoney']}>" class="form-control input-width" />
			</span>
		</div>-->
        </div>
        
       	<div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('昵称')}>:</label>
		<div class="col-xs-12 col-sm-4">
			<span class="block">
				<input id="nickname" type="text" name="nickname" value="<{$row['nickname']}>" class="form-control input-width" required />
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>
    
              
     <div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('性别')}>:</label>
		<div class="col-xs-12 col-sm-4">
			<span class="block">
				<input id="sex" type="radio" name="sex" value="1" <{if !$row['sex'] || $row['sex']=='1'}>checked<{/if}> /><{translate('男')}>
				<input id="sex" type="radio" name="sex" value="2" <{if $row['sex']=='2'}>checked<{/if}> /><{translate('女')}>
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>
                   
    <!--<div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right">生日:</label>
		<div class="col-xs-12 col-sm-4">
			<span class="block">
				<input id="birthday" type="text" name="birthday" value="<{$row['birthday']}>" class="form-control input-width datetimepicker-date" />
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>

    <div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right">年龄:</label>
		<div class="col-xs-12 col-sm-4">
			<span class="block">
				<input id="age" type="text" name="age" value="<{$row['age']}>" class="form-control input-width" />
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>
          -->

    <div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('地址')}>:</label>
		<div class="col-xs-12 col-sm-4">
			<span class="block">
				<input id="address" type="text" name="address" value="<{$row['address']}>" class="form-control input-width" />
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>

     
     <div class="form-group">
				<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('头像')}></label>
    			<input type="hidden" name="avatar" value="<{$row['avatar']}>" />
				<div class="col-xs-12 col-sm-4">
                	<div class="upfile_imgthumb">
                        <img src="<{if $row['avatar']}><{$row['avatar']}><{else}>/style/xin_inselimg.png<{/if}>" data-default="/style/xin_inselimg.png" class="btn-prefile">
                        <div class="upfile_imgcaption">
                                <a href="javascript:;" class="btn btn-primary btn-xs btn-upfile"><{translate('上传')}></a>
                                <a href="javascript:;" class="btn btn-default btn-xs btn-upremove"><{translate('删除')}></a>
                        </div>
                    </div>
				</div>
				<div class="help-block inline"></div>
			</div>
                   
      
    <!--<div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('注册日期')}>:</label>
		<div class="col-xs-12 col-sm-4">
			<span class="block">
				<input id="createtime" type="text" name="createtime" value="<{formattime($row['createtime'], 'Y-m-d H:i:s', formattime(time()))}>" class="form-control input-width datetimepicker" />
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>-->
    
              
    <!--<div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right">注册IP:</label>
		<div class="col-xs-12 col-sm-5">
			<span class="block">
				<input id="regip" type="text" name="regip" value="<{$row['regip']}>" class="form-control input-width" />
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>-->
      
    <!--<div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right">最近登录时间:</label>
		<div class="col-xs-12 col-sm-4">
			<span class="block">
				<input id="lasttime" type="text" name="lasttime" value="<{formattime($row['lasttime'], 'Y-m-d H:i:s', formattime(time()))}>" class="form-control input-width datetimepicker" />
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>-->
    
              
  <!--  <div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right">最近登录IP:</label>
		<div class="col-xs-12 col-sm-5">
			<span class="block">
				<input id="lastip" type="text" name="lastip" value="<{$row['lastip']}>" class="form-control input-width" />
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>-->
    
              
   <!-- <div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right">登录次数:</label>
		<div class="col-xs-12 col-sm-4">
			<span class="block">
				<input id="logincount" type="text" name="logincount" value="<{$row['logincount']}>" class="form-control input-width" />
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>-->
    
    <div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('系统备注')}>:</label>
		<div class="col-xs-12 col-sm-4">
			<span class="block">
				<textarea id="memo" type="text" name="memo" class="form-control input-width"><{$row['memo']}></textarea>
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>
	
    
    <div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('状态')}>:</label>
		<div class="col-xs-12 col-sm-4">
			<span class="block">
            	<select name="status" id="status" class="form-control">
               		<{foreach $user_status as $k => $v}>                 
                		<option value="<{$k}>" <{if strval($row['status'])==strval($k)}>selected<{/if}>><{$v}></option>
                	<{/foreach}>
                    
                </select> 
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>
    
   			 
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="button" id="saveedit" class="btn  btn-primary btn-lg"><{translate('提交')}></button>
				</div>
			</div>
		</form>
        </div>
        </div>
	</div>
    </div>
</div>


<script type="text/javascript">
var isbusy = false;

$(function(){
	$('#submitform').validate({
			errorElement: 'div',
			errorClass: 'help-block',
			focusInvalid: true,
			rules: {
				title: {
					required: true
				}
			}
	});
	//YYYY-MM-DD HH:mm:ss
	$('.datetimepicker-date').datetimepicker({
		format: 'YYYY-MM-DD',
        language: 'zh-CN',
        pickDate: true,
        pickTime: false,
        hourStep: 1,
        minuteStep: 15,
        secondStep: 30,
        inputMask: true
	});
	//YYYY-MM-DD HH:mm:ss
	$('.datetimepicker').datetimepicker({
		format: 'YYYY-MM-DD HH:mm:ss',
        language: 'zh-CN',
        pickDate: true,
        pickTime: true,
        hourStep: 1,
        minuteStep: 15,
        secondStep: 30,
        inputMask: true
	});
	$('.check-account').click(function(){
		tooltipbox.show("<{translate('正在执行操作')}>");
		$.post('/admin_user/check', { 'id': "<{$row['id']}>", 'account': $('#account').val() }, function(res){
			if(res.status == '0'){
				tooltipbox.alert("<{translate('账号可用')}>");
			}else if(res.status == '-1'){
				tooltipbox.alert("<{translate('未提交数据')}>");
			}else{
				tooltipbox.alert("<{translate('账号已经存在')}>");
			}
		}, 'json').error(function(){
			tooltipbox.show("<{translate('数据或网络错误')}>");
		});
		return false;
	});
	$('#eye_password').click(function(){
	    layer.msg($(this).data('text'),'',5000);
	});
    $('#eye_pay_password').click(function(){
        layer.msg($(this).data('text'),'',5000);
    });
	$('#saveedit').click(function(){
		if(!$('#submitform').valid())return false;
		if(isbusy)return false;
		password=$('#password').val();
		if(password && password.length<8){
            tooltipbox.alert("<{translate('登入密码长度不能小于8位')}>");
            return false;
        }
		isbusy = true;
		tooltipbox.show("<{translate('正在执行操作')}>");
		$.post('/admin_user/edit/<{$row['id']}>', $('#submitform').serialize(), function(res){
			if(res.status == '1'){
				tooltipbox.show("<{translate('操作完成')}>");
				location.href = '/admin_system#page/admin_user/';
			}else if(res.status == '0'){
				tooltipbox.alert("<{translate('相同记录已经存在')}>");
			}else{
				tooltipbox.show("<{translate('数据或网络错误')}>");
			}
			isbusy = false;
		}, 'json').error(function(a, b, c){
			tooltipbox.show("<{translate('数据或网络错误')}>");
			isbusy = false;
		});
	});
});
</script> 