
<title><{translate('顧客管理')}> - <{translate('顧客リスト')}></title>
<div class="page-header">
	<h1>
		<{translate('顧客管理')}> <small> <i class="ace-icon fa fa-angle-double-right"></i> <{translate('顧客リスト')}>
		</small>
	</h1>
</div>
<!-- /.page-header -->


<div class="row">
	<div class="col-xs-12">
    
    <ul class="nav nav-tabs">
        <li class="active"><a href="/admin_system#page/admin_user/"><{translate('顧客リスト')}></a></li>
    </ul>
    <br />

	<div class="panel panel-success">
    <div class="panel-heading" onclick="$(this).parent().find('.panel-body').toggle()"><i class="glyphicon glyphicon-chevron-down"></i> <{translate('スクリーニング')}></div>
    <div class="panel-body" style="display:">

      
            <div class="form-group form-search form-inline">

				<label class="control-label"><{translate('顧客選択')}></label>
				<input id="userid" name="userid" value="<{$get.userid}>" style="width:200px" />

				<button class="btn btn-default btn-sm"><i class="fa fa-search"></i> <{translate('検索する')}></button>
			</div>
       
    </div>
 
    </div>
<script>
$(function () {
    $("#userid").select2({
		ajax: {
			url: "/admin_user/search",
			data: function (params) {
				return { 
					keywords: params
				};
			},
			results:function(data,pageNo){
				if(data.data.length){
					data['data'].splice(0, 0, {'id':'', 'text': "<{translate('请选择')}>"});
				}else{
					data['data'] = [{'id':'', 'text': "<{translate('请选择')}>"}];
				}
				return {
					results:data.data	
				};
			},
			processResults: function (data) {
				return { 
					results: data
				};
			},
			type: 'post',
			dataType: 'json'
		},	
		initSelection: function(elem, cbfunc){
		},
		allowClear: false,
		openOnEnter: false,
		minimumInputLength: 1,
	});
	<{if $get.userid}>$('#userid').select2('data', {id:"<{$get.userid}>", text:"<{$get_userid_account}>"}).select2('val', ["<{$get.userid}>"]);<{/if}>
});
</script> 
				
<script>
$(function(){
	//这里处理搜索key，引用 /style/assets/js/jquery.fn.js
	//注意php代码不需要处理搜索URL参数，分页URL的处理注意本页尾的JS代码
	//$.searchURL = function(url = location.href, sConr = '.form-search', sObj = 'input,select,textarea', sJoin = ','){/**/}
	$('.btn-default').click(function(){
		var url = $.searchURL( location.href );
		location.href = url;
	});
	$('.btn-export').click(function(){
		location.href = $.searchURL(location.href).replace('/admin_system#page/admin_user', '/admin_user/export');
	});	
});
</script>                 
				 
				<form class="form-horizontal" role="form" id="submitform">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th><{translate('ID')}></th>
								<th><{translate('電話番号')}></th>
								<th><{translate('ユーザー名')}></th>
								<th><{translate('アバター')}></th>
								<th><{translate('チャージ残高')}></th>
								<th><{translate('登録日')}></th>
								<th><{translate('ステータス')}></th>
								<th><{translate('操作')}></th>
							</tr>
						</thead>
						<tbody>
							<{foreach $user.list as $v}>
							<tr class="alert1 success" align="left">
								<td><input type="checkbox" name="id[]" value="<{$v['id']}>" /> <{$v['id']}></td>
								<td><{$v['account']}></td>
								<td><{$v['nickname']}></td>
								<td><img src="<{$v['avatar']}>" width="40px;" height="40px;" class="img-prefile" style="border-radius: 30px;" ></td>
                                <!-- <td><{$v['total_momey']}></td>-->
                                <td><{$v['money']}> <{translate('元')}></td>
                                <!--  <td><{$user_type[$v['type']]}> </td>-->
								<td><{formattime($v['createtime'])}></td>
								<!--<td><{formattime($v['lasttime'])}></td>-->
								<td><{$user_status[$v['status']]}></td>
								<td>
								<{if chkcommand('/admin_trade/purchase_history')}>
									<a href="admin_system#page/admin_trade/purchase_history/<{$v['id']}>/" class="btn btn-info btn-xs"> <i class="fa fa-eye"></i> <{translate('購入履歴')}></a>
								<{/if}>
								</td>
							</tr>
							<{/foreach}>
					<tr style="position:fixed; bottom:0; width:100%; background:#fff;z-index:9">
						<td style="border:none" colspan="12">
						</td>
					</tr>

						</tbody>
					</table>
                     <table   style="width:100%;" class="listpage"><tr><td ><{translate('共')}> <{$user.total}> <{translate('条记录')}> <{$user.pages}>  </td></tr></table>
					
				</form>
                </div>
			</div>
		</div>

 
	<script type="text/javascript">
 	var isbusy = false;
	//这里处理分页搜索key，引用 /style/assets/js/jquery.fn.js
	//注意php代码不需要处理搜索URL参数，分页URL的处理注意本页尾的JS代码
	//$.searchURL = function(url = location.href, sConr = '.form-search', sObj = 'input,select,textarea', sJoin = ','){/**/}
	$(function(){
		$('.listpage').find('a').each(function(){
			var url = $.replaceURL( location.href, 'page', $(this).attr('data-ci-pagination-page') );
			$(this).attr('href', url);
		});
		//YYYY-MM-DD HH:mm:ss
		$('.datetimepicker').datetimepicker({
			format: 'YYYY-MM-DD',
			language: 'zh-CN',
			pickDate: true,
			pickTime: true,
			hourStep: 1,
			minuteStep: 15,
			secondStep: 30,
			inputMask: true
		});
        $('.img-prefile').viewer('destroy').viewer({});
        $('.img-prefile').parent().off('click', '.viewer-canvas').on('click', '.viewer-canvas', function(e){
            var _con = $(this).find('img');
            if(_con && !_con.is(e.target) && _con.has(e.target).length === 0){
                $('.img-prefile').viewer('hide');
            }
        });
		$('#btnDelete').click(function(){
			var ckvals = $.selectCK('input[name="id[]"]');
			if(!ckvals){
				tooltipbox.show("<{translate('请选择要操作的数据')}>");
				return false;
			}
			tooltipbox.confirm("<{translate('确定永久删除选中的数据')}>？", function(data){
				tooltipbox.show("<{translate('正在执行操作')}>");
				$.post('/admin_user/delete', data, function(res){
					if(res.status == '1'){
						tooltipbox.show("<{translate('操作执行成功')}>");
						location.reload();
					}else{
						tooltipbox.show("<{translate('数据或网络错误')}>");
					}
				}, 'json').error(function(){
					tooltipbox.show("<{translate('数据或网络错误')}>");
				});
			}, false, { 'ids': ckvals });
		});
		$('#btnClear').click(function(){
			tooltipbox.confirm("<{translate('确定永久清空所有数据？')}>", function(data){
				tooltipbox.show("<{translate('正在执行操作')}>");
				$.post('/admin_user/clear', { }, function(res){
					if(res.status == '1'){
						tooltipbox.show("<{translate('操作执行成功')}>");
						location.reload();
					}else{
						tooltipbox.show("<{translate('数据或网络错误')}>");
					}
				}, 'json').error(function(a, b, c){
					tooltipbox.show("<{translate('数据或网络错误')}>");
				});
			});
		});
		try{
			if((window.opener || window.parent).location.href.indexOf('admin_coupon/give') != -1 ||
				(window.opener || window.parent).location.href.indexOf('admin_corp/add') != -1 ||
                (window.opener || window.parent).location.href.indexOf('admin_user/send_message') != -1 ||
                (window.opener || window.parent).location.href.indexOf('admin_corp/edit') != -1)
				(window.opener || window.parent).iframeLoadNotify(window);
		}catch(e){}
	});
</script>
 
 
