
<title><{translate('会员管理')}> - <{translate('已发送会员')}></title>
<!--<div class="page-header">-->
	<!--<h1>-->
		<!--会员管理 <small> <i class="ace-icon fa fa-angle-double-right"></i> 会员列表-->
		<!--</small>-->
	<!--</h1>-->
<!--</div>-->
<!-- /.page-header -->


<div class="row">
	<div class="col-xs-12">
    
    <ul class="nav nav-tabs">
        <li ><a href="/admin_system#page/admin_user/message_model?page=<{$p}>"> <{translate('消息列表')}></a></li>
        <li class="active"><a href="/admin_system#page/admin_user/message/<{$id}>/<{$p}>"><{translate('已发送会员')}></a></li>
        <!--<li><a href="/admin_system#page/admin_recharge/">充值列表</a></li>-->
        <!--<li><a href="/admin_system#page/admin_foregift/">押金列表</a></li>-->
        <!--<li><a href="/admin_system#page/admin_cash/">提现列表</a></li>-->
    </ul>
    <br />

		<div class="panel panel-success">
			<div class="panel-heading" onclick="$(this).parent().find('.panel-body').toggle()"><i class="glyphicon glyphicon-chevron-down"></i> <{translate('筛选')}></div>
			<div class="panel-body" style="display:">

            <div class="form-group form-search form-inline">
              	<label class="control-label"><{translate('会员')}></label>
                <input id="user_id"  name="user_id" value="<{$get.user_id}>" style="width: 200px;" />
			<!--	<label class="control-label">标题</label>
				<input id="title" class="form-control" name="title" value="<{$get.title}>" />-->
				<!--<label class="control-label">选择年龄</label>-->
                <!--<select class="form-control" id="age" name="age">-->
                	<!--<option value="">&#45;&#45;&#45;&#45;请选择&#45;&#45;&#45;&#45;</option>-->
                	<!--<{foreach $user_age as $k=>$v}>-->
                	<!--<option value=<{$k}> <{if $get.age == $k}>selected<{/if}> ><{$v}></option>-->
                	<!--<{/foreach}>-->
                <!--</select>-->
               <!-- <label class="control-label">是否阅读</label>
                <select class="form-control" id="is_read" name="is_read">
                	<option value="">&#45;&#45;请选择&#45;&#45;</option>
                	<option value="0"  <{if $get.is_read == '0'}>selected<{/if}>> 未阅读</option>
                	<option value="1" <{if $get.is_read == '1'}>selected<{/if}>> 已阅读</option>

                </select>-->


                <label class="control-label"><{translate('创建日期')}></label>
                    <input class="form-control datetimepicker" name="createtime1" id="createtime1" type="text" value="<{$get.createtime1}>" placeholder="">
                <label class="control-label"><{translate('至')}></label>
                    <input class="form-control datetimepicker" name="createtime2" id="createtime2" type="text" value="<{$get.createtime2}>" placeholder="">
              
                    <button class="btn btn-default btn-sm"><i class="fa fa-search"></i> <{translate('搜索')}></button>
            </div>
       
		    </div>
		 
		</div>
		<script>
            $(function () {
                $("#user_id").select2({
                    ajax: {
                        url: "/admin_user/search",
                        data: function (params) {
                            return {
                                keywords: params
                            };
                        },
                        results:function(data,pageNo){
                            if(data.data.length){
                                data['data'].splice(0, 0, {'id':'', 'text':"<{translate('请选择')}>"});
                            }else{
                                data['data'] = [{'id':'', 'text': "<{translate('请选择')}>"}];
                            }
                            return {
                                results:data.data
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data
                            };
                        },
                        type: 'post',
                        dataType: 'json'
                    },
                    initSelection: function(elem, cbfunc){
                    },
                    allowClear: false,
                    openOnEnter: false,
                    minimumInputLength: 1,
                });
            <{if $get.user_id}>$('#user_id').select2('data', {id:"<{$get.user_id}>", text:"<{$get_userid_account}>"}).select2('val', ["<{$get.user_id}>"]);<{/if}>
                });
		</script>
		<script>
$(function(){
	//这里处理搜索key，引用 /style/assets/js/jquery.fn.js
	//注意php代码不需要处理搜索URL参数，分页URL的处理注意本页尾的JS代码
	//$.searchURL = function(url = location.href, sConr = '.form-search', sObj = 'input,select,textarea', sJoin = ','){/**/}
	$('.btn-default').click(function(){
		var url = $.searchURL( location.href );
		location.href = url;
	});
});
</script>                 
				 
				<form class="form-horizontal" role="form" id="submitform">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th><{translate('序号')}></th>
								<!--<th>标题</th>
								<th width="200">内容</th>
								<th>图片</th>-->
							<!--	<th>是否阅读</th>-->
								<th><{translate('已发送会员')}></th>
								<th><{translate('时间')}></th>
								<!--<th>操作</th>-->
								 
							</tr>
						</thead>
						<tbody>
							<{foreach $list.list as $k => $v}>
							<tr class="alert1 success" align="left">
								<td><input type="checkbox" name="id[]" value="<{$v['id']}>" /><{$v['id']}></td>
								<!--<td><{$v['title']}></td>
								<td><{$v['content']}></td>
								<td><img src="<{$v['img']}>" alt="" width="30" height="30" class="img-prefile"/></td>-->
								<!--<td><{if $v['is_read']==1}>已阅读<{else}>未阅读<{/if}></td>-->

								<td> <img src="<{$v['user']['avatar']}>" alt=""  style="border-radius: 30px;" width="30" height="30" class="img-prefile"/> <{$v['user']['nickname']}> <{$v['user']['account']}></td>
								<td><{$v['ctime']}></td>
								 <!--<td ><a href="admin_system#page/admin_user/edit/<{$v['id']}>" class="btn btn-success btn-xs"> <i class=" fa fa-edit" ></i> 修改</a>
									 <a href="admin_system#page/admin_order/?user_id=<{$v['id']}>" class="btn btn-xs btn-info"><i class="fa fa-eye"></i> 订单记录</a>
									 <a href="admin_system#page/admin_user/user_address/<{$v['id']}>/<{$page}>" class="btn btn-xs btn-purple"><i class="fa fa-eye"></i> 收货地址</a>
								 	&lt;!&ndash;<{if $v['manage_agent']>0}><a href="admin_system#page/admin_user/user_list/<{$v['id']}>" class="btn btn-primary btn-xs"> <i class="fa fa-share-alt"></i>邀请列表</a><{/if}>&ndash;&gt;
									 <{if chkcommand('/Admin_user/edit_money_log')}><a href="admin_system#page/admin_user/edit_money_log/<{$v['id']}>/<{$page}>" class="btn btn-pink btn-xs" ><i class="fa fa-rmb"></i>余额修改记录</a><{/if}></td>-->
							</tr>
							<{/foreach}>
				<!--	<tr style="position:fixed; bottom:0; width:100%; background:#fff;z-index:9">
						<td style="border:none" colspan="12"><input type="checkbox" id="checkall" onclick="var ck = this.checked;$('input[name=&quot;id[]&quot;]').each(function(){this.checked = ck});">
							<{if chkcommand('/admin_user/message_delete')}>
							<input id="btnDelete" class="btn btn-default  btn-lg" value="删除" type="button">
							<{/if}>
							<{if chkcommand('/admin_user/send_message')}>
                            <a href="/admin_system#page/admin_user/send_message" class="btn  btn-primary btn-lg">+ 发送信息</a>
							<{/if}>
						</td>
					</tr>-->

						</tbody>
					</table>
                     <table   style="width:100%;" class="listpage"><tr><td ><{translate('共')}> <{$list.total}> <{translate('条记录')}> <{$list.pages}>  </td></tr></table>
					
				</form>
                </div>
			</div>
		</div>

 
	<script type="text/javascript">
 	var isbusy = false;
	//这里处理分页搜索key，引用 /style/assets/js/jquery.fn.js
	//注意php代码不需要处理搜索URL参数，分页URL的处理注意本页尾的JS代码
	//$.searchURL = function(url = location.href, sConr = '.form-search', sObj = 'input,select,textarea', sJoin = ','){/**/}
	$(function(){
        $('.listpage').find('a').each(function(){
            var url = $.replaceURL( location.href, 'page', $(this).attr('data-ci-pagination-page') );
            $(this).attr('href', url);
        });

	  laydate.render({
            elem: '#createtime1',
        });
        laydate.render({
            elem: '#createtime2'
        });
        $('.img-prefile').viewer('destroy').viewer({});
        $('.img-prefile').parent().off('click', '.viewer-canvas').on('click', '.viewer-canvas', function(e){
            var _con = $(this).find('img');
            if(_con && !_con.is(e.target) && _con.has(e.target).length === 0){
                $('.img-prefile').viewer('hide');
            }
        });
        $('.back').click(function(){
            history.back(-1);
        });
		$('#btnDelete').click(function(){
			var ckvals = $.selectCK('input[name="id[]"]');
			if(!ckvals){
				tooltipbox.show("<{translate('请选择要操作的数据')}>");
				return false;
			}
			tooltipbox.confirm("<{translate('确定永久删除选中的数据')}>？", function(data){
				tooltipbox.show("<{translate('正在执行操作')}>");
				$.post('/admin_user/message_delete', data, function(res){
					if(res.status == '1'){
						tooltipbox.show("<{translate('操作执行成功')}>");
						location.reload();
					}else{
						tooltipbox.show("<{translate('数据或网络错误')}>");
					}
				}, 'json').error(function(){
					tooltipbox.show("<{translate('数据或网络错误')}>");
				});
			}, false, { 'ids': ckvals });
		});

	});
</script>


 
