<title><{translate('商家管理')}> - <{translate('套餐项目列表')}></title>
<div class="page-header">
    <h1>
        <{translate('商家管理')}> <small> <i class="ace-icon fa fa-angle-double-right"></i> <{translate('套餐项目列表')}>
    </small>
    </h1>
</div>
<!-- /.page-header -->


<div class="row">
    <div class="col-xs-12">

        <ul class="nav nav-tabs">
            <li ><a href="javascript:;" class="back"><{translate('套餐列表')}></a></li>
            <li class="active"><a href="/admin_system#page/admin_pack/pack_item/<{$pack_id}>"><{translate('套餐项目列表')}></a></li>
        </ul>
        <br />

        <!--<div class="panel panel-success">
            <div class="panel-heading" onclick="$(this).parent().find('.panel-body').toggle()"><i class="glyphicon glyphicon-chevron-down"></i> 筛选</div>
            <div class="panel-body" style="display:">

                <div class="form-group form-search form-inline">
                    <label class="control-label">选择商家</label>
                    <input id="adminid" name="adminid" value="<{$get.adminid}>" style="width:200px" />

                    <label class="control-label">套餐名称</label>
                    <input class="form-control " name="title" id="title" type="text" value="<{$get.title}>" placeholder="套餐名称">


                    <label class="control-label">创建时间</label>
                    <input class="form-control datetimepicker" name="ctime1" id="ctime1" type="text" value="<{$get.ctime1}>" placeholder="">
                    <label class="control-label">至</label>
                    <input class="form-control datetimepicker" name="ctime2" id="ctime2" type="text" value="<{$get.ctime2}>" placeholder="">
                    <button class="btn btn-default btn-sm"><i class="fa fa-search"></i> 搜索</button>
                </div>
            </div>

        </div>-->
        <script>
            $(function(){
                //这里处理搜索key，引用 /style/assets/js/jquery.fn.js
                //注意php代码不需要处理搜索URL参数，分页URL的处理注意本页尾的JS代码
                //$.searchURL = function(url = location.href, sConr = '.form-search', sObj = 'input,select,textarea', sJoin = ','){/**/}
                $('.btn-default').click(function(){
                    var url = $.searchURL( location.href );
                    location.href = url;
                });
                $("#adminid").select2({
                    ajax: {
                        url: "/admin_shop/search",
                        data: function (params) {
                            return {
                                keywords: params
                            };
                        },
                        results:function(data,pageNo){
                            if(data.data.length){
                                data['data'].splice(0, 0, {'id':'', 'text': '请选择'});
                            }else{
                                data['data'] = [{'id':'', 'text': '请选择'}];
                            }
                            return {
                                results:data.data
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data
                            };
                        },
                        type: 'post',
                        dataType: 'json'
                    },
                    initSelection: function(elem, cbfunc){
                    },
                    allowClear: false,
                    openOnEnter: false,
                    minimumInputLength: 1,
                });
            <{if $get.adminid}>$('#adminid').select2('data', {id:"<{$get.adminid}>", text:"<{$get_adminid_account}>"}).select2('val', ["<{$get.adminid}>"]);<{/if}>
            });
        </script>
        <form class="form-horizontal" role="form" id="submitform">
          <!--  <div class="table-actions">
                <button class="btn  btn-purple btn-xs " id="sortBtn"> <i class="fa fa-sort" ></i>排序</button>
            </div>-->
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th><{translate('序号')}></th>
                    <th><{translate('项目名称')}></th>
                    <th><{translate('类型')}></th>
                    <th><{translate('次数')}></th>
                    <th><{translate('每次多少刀')}></th>
                    <th width="1000px"><{translate('服务内容')}></th>
                    <th><{translate('创建时间')}></th>
                    <th><{translate('操作')}></th>
                </tr>
                </thead>
                <tbody>
                <{foreach $item as $v}>
                <tr class="alert1 success" align="left">
                    <td><input type="checkbox" name="id[]" value="<{$v['id']}>" /> <{$v['id']}></td>
                    <td><{$v['title']}></td>
                    <td><{$item_type[$v['type']]}> <{if $v['type']==1}> - <{$mr_type[$v['mr_type']]}><{/if}></td>
                    <td><{$v['num']}> <{translate('次')}></td>
                    <td><{$v['knife']}> <{translate('刀')}></td>
                    <td><{$v['text']}></td>
                    <td><{$v['ctime']}></td>
                    <td >
                        <{if chkcommand('/admin_pack/item_edit')}>
                        <a href="admin_system#page/admin_pack/item_edit/<{$pack_id}>/<{$v['id']}>" class="btn btn-success btn-xs"> <i class="fa fa-edit"></i>  <{translate('修改')}></a>
                        <{/if}>
                        <{if chkcommand('/admin_pack/item_delete')}>
                        <a href="javascript:;" class="btn btn-danger btn-xs delete" data-id="<{$v['id']}>"> <i class="fa fa-times"></i>  <{translate('删除')}></a>
                        <{/if}>
                    </td>
                </tr>
                <{/foreach}>

                <tr style="position:fixed; bottom:0; width:100%; background:#fff;z-index:9">
                    <td style="border:none" colspan="12"><input type="checkbox" id="checkall" onclick="var ck = this.checked;$('input[name=&quot;id[]&quot;]').each(function(){this.checked = ck});">
                        <{if chkcommand('/admin_pack/item_edit')}>
                        <a href="admin_system#page/admin_pack/item_edit/<{$pack_id}>" class="btn  btn-lg btn-primary">+ <{translate('添加套餐项目')}></a>
                        <{/if}>
                    </td>
                </tr>

                </tbody>
            </table>
          <!--  <table   style="width:100%;" class="listpage"><tr><td >共 <{$pack.total}> 条记录 <{$pack.pages}>  </td></tr></table>-->

        </form>
    </div>
</div>


<script type="text/javascript">
    var isbusy = false;
    //这里处理分页搜索key，引用 /style/assets/js/jquery.fn.js
    //注意php代码不需要处理搜索URL参数，分页URL的处理注意本页尾的JS代码
    //$.searchURL = function(url = location.href, sConr = '.form-search', sObj = 'input,select,textarea', sJoin = ','){/**/}
    $(function(){
        $('.listpage').find('a').each(function(){
            var url = $.replaceURL( location.href, 'page', $(this).attr('data-ci-pagination-page') );
            $(this).attr('href', url);
        });
        //YYYY-MM-DD HH:mm:ss
       /* $('.datetimepicker').datetimepicker({
            format: 'YYYY-MM-DD',
            language: 'zh-CN',
            pickDate: true,
            pickTime: true,
            hourStep: 1,
            minuteStep: 15,
            secondStep: 30,
            inputMask: true
        });*/
        laydate.render({
            elem: '#ctime1',
        });
        laydate.render({
            elem: '#ctime2'
        });

        $('#btnDelete').click(function(){
            var ckvals = $.selectCK('input[name="id[]"]');
            if(!ckvals){
                tooltipbox.show("<{translate('请选择要操作的数据')}>");
                return false;
            }
            tooltipbox.confirm("<{translate('确定永久删除选中的数据')}>？", function(data){
                tooltipbox.show("<{translate('正在执行操作')}>");
                $.post('/admin_pack/delete', data, function(res){
                    if(res.status == '1'){
                        tooltipbox.show("<{translate('操作执行成功')}>");
                        location.reload();
                    }else{
                        tooltipbox.show("<{translate('数据或网络错误')}>");
                    }
                }, 'json').error(function(){
                    tooltipbox.show("<{translate('数据或网络错误')}>");
                });
            }, false, { 'ids': ckvals });
        });
        $('.back').click(function(){
            history.back(-1);
        });
        $('#sortBtn').click(function(){

            var obj = $('input[name="sort"]');
            var str = '';
            obj.each(function(){
                var val = $(this).val();
                var id = $(this).attr('data-id');
                str += id+':'+val+',';
            });
            $.post('/admin_pack/sort', {'str':str}, function(res){
                if(res == '1'){
                    tooltipbox.show("<{translate('操作执行成功')}>");
                    location.reload();
                }else{
                    tooltipbox.show("<{translate('操作执行失败')}>");
                }
            });

        });
    });
</script>
