/**
*样式重置
**/

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
textarea,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    font-size: 0.28rem;
    color: #333;
    /*设置一个默认初始值*/
}

/*清除滚动条特效*/

::-webkit-scrollbar {
    width: 0;
}

html,body {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    width: 100%;
    height: 100%;
    flex-flow: column;
    display: flex;
    background: #f5f5f5;
}
html{
    font-size: calc(100vw/7.5);
}
body{
    font-size: .28rem;
}
.mw100 {
    max-width: 100%;
}

.bigBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bigBox .container {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

input,
textarea {
    border: none;
    resize: none;
    outline: none;
    font-size: .28rem;
    -webkit-appearance: none;
}

img {
    border: none;
    vertical-align: top;
}

button {
    border: none;
    outline: none;
}

cite,
i,
em,
s {
    font-style: normal;
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pos_a {
    position: absolute;
}

.pos_r {
    position: relative;
}

input {
    padding: 0;
}















/**清除浮动**/

.clearfix::before,
.clearfix::after {
    content: ' ';
    display: table;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}















/*常用颜色*/

.col3 {
    color: #333;
}

.col6 {
    color: #666;
}

.col9 {
    color: #999;
}

.colw {
    color: #fff;
}

.b3 {
    background-color: #333;
}

.b6 {
    background-color: #666;
}

.b3 {
    background-color: #999;
}

.bw {
    background-color: #fff;
}

.cole {
    color: #eee;
}

.colc {
    color: #ccc;
}















/*主色调*/

.color1 {
    color: #c30d23;
}

.color2 {
    color: #67ea83;
}

.color3 {
    color: #2864db;
}

.bgc1 {
    background-color: #c30d23;
}

.bgc2 {
    background-color: #fe9b9a;
}

.bgcc {
    background-color: #ccc;
}

.bgce {
    background-color: #eee;
}















/*文字缩进*/

.ti2 {
    text-indent: 2em;
}

.ti3 {
    text-indent: 3em;
}














/*常用字体*/

.font0 {
    font-size: 0
}

.font10 {
    font-size: 0.1rem
}

.font12 {
    font-size: 0.24rem;
}

.font13 {
    font-size: 0.26rem;
}

.font14 {
    font-size: 0.28rem;
}

.font15 {
    font-size: 0.3rem;
}

.font16 {
    font-size: 0.32rem;
}

.font17 {
    font-size: 0.34rem;
}

.font19 {
    font-size: 0.38rem;
}

.font20 {
    font-size: .4rem;
}

.font21 {
    font-size: .42rem;
}

.font32 {
    font-size: .64rem;
}

.font40 {
    font-size: .8rem;
}

.font50 {
    font-size: .5rem;
}

.font60 {
    font-size: .6rem;
}

.font70 {
    font-size: .7rem;
}

.font80 {
    font-size: .8rem;
}

.font100 {
    font-size: 1rem;
}

.tac {
    text-align: center;
}

.tas {
    text-align: start;
}

.tae {
    text-align: end;
}

.mt10 {
    margin-top: 0.1rem;
}

.mt15 {
    margin-top: 0.15rem;
}

.mt20 {
    margin-top: 0.2rem;
}

.mt24 {
    margin-top: .24rem;
}

.mt30 {
    margin-top: 0.3rem;
}

.mt40 {
    margin-top: 0.4rem;
}

.mt50 {
    margin-top: 0.5rem;
}

.mt60 {
    margin-top: 0.6rem;
}

.mt80 {
    margin-top: 0.8rem;
}

.mt100 {
    margin-top: 1rem;
}

.mb10 {
    margin-bottom: 0.1rem;
}

.mb20 {
    margin-bottom: 0.2rem;
}

.ml10 {
    margin-left: 0.1rem;
}

.ml20 {
    margin-left: 0.2rem;
}

.ml30 {
    margin-left: 0.3rem;
}

.ml40 {
    margin-left: 0.4rem;
}

.mr10 {
    margin-right: 0.1rem;
}

.mr20 {
    margin-right: 0.2rem;
}

.mr30 {
    margin-right: 0.3em;
}

.mlr24 {
    margin-left: .24rem;
    margin-right: .24rem;
}

.p10 {
    padding: .1rem;
}

.p20 {
    padding: .2rem;
}

.p30 {
    padding: .3rem;
}

.p40 {
    padding: .4rem;
}

.p50 {
    padding: .5rem;
}

.pt10 {
    padding-top: 0.1rem;
}
.pb20{
    padding-bottom: .2rem;
}

.pt15 {
    padding-top: 0.15rem;
}

.pt20 {
    padding-top: 0.2rem;
}

.pt25 {
    padding-top: 0.25rem;
}

.pt30 {
    padding-top: 0.3rem;
}

.pt35 {
    padding-top: 0.35rem;
}

.pt40 {
    padding-top: 0.4rem;
}

.pt45 {
    padding-top: 0.45rem;
}

.pt50 {
    padding-top: 0.5rem;
}

.pt55 {
    padding-top: 0.55rem;
}

.pt60 {
    padding-top: 0.6rem;
}

.pt65 {
    padding-top: 0.65rem;
}

.pt70 {
    padding-top: 0.7rem;
}

.pt75 {
    padding-top: 0.75rem;
}

.pt80 {
    padding-top: 0.8rem;
}

.pt85 {
    padding-top: 0.85rem;
}

.pt90 {
    padding-top: 0.9rem;
}

.pt95 {
    padding-top: 0.95rem;
}

.pt100 {
    padding-top: 1rem;
}

.pl10 {
    padding-left: 0.1rem;
}

.pl20 {
    padding-left: 0.2rem;
}

.pl24 {
    padding-left: 0.24rem;
}

.pr24 {
    padding-right: 0.24rem;
}

.pl30 {
    padding-left: 0.3rem;
}

.pl40 {
    padding-left: 0.4rem;
}

.pl50 {
    padding-left: 0.5rem;
}

.pl60 {
    padding-left: 0.6rem;
}

.pl100 {
    padding-left: 1rem;
}

.pr10 {
    padding-right: 0.1rem;
}

.pr20 {
    padding-right: 0.2rem;
}

.pr30 {
    padding-right: 0.3rem;
}

.plr10 {
    padding-left: .1rem;
    padding-right: .1rem;
}

.plr20 {
    padding: 0 0.2rem;
}

.plr24 {
    padding-left: .24rem;
    padding-right: .24rem;
}

.plr40 {
    padding-left: .4rem;
    padding-right: .4rem;
}

.plr60 {
    padding-left: .6rem;
    padding-right: .6rem;
}

.ptb20 {
    padding-top: .2rem;
    padding-bottom: .2rem;
}

.ptb30 {
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.pt20 {
    padding-top: 0.2rem;
}

.pt30 {
    padding-top: 0.3rem;
}

.pt40 {
    padding-top: 0.4rem;
}

.pt50 {
    padding-top: 0.5rem;
}

.pt60 {
    padding-top: 0.6rem;
}

.pt70 {
    padding-top: 0.7rem;
}

.pt80 {
    padding-top: 0.8rem;
}

.pt90 {
    padding-top: 0.9rem;
}

.lh40 {
    line-height: 0.4rem;
}

.lh50 {
    line-height: 0.5rem;
}

.lh60 {
    line-height: 0.6rem;
}

.lh65 {
    line-height: 0.65rem;
}

.lh70 {
    line-height: 0.7rem;
}

.lh80 {
    line-height: 0.8rem;
}

.lh90 {
    line-height: 0.9rem;
}

.lh100 {
    line-height: 1rem;
}

.lh120 {
    line-height: 1.2rem;
}

.lh140 {
    line-height: 1.4rem;
}

.bold {
    font-weight: bold;
}

.bdb {
    border-bottom: 1px solid #e8e8e8;
}

.bdr {
    border-right: 1px solid #e8e8e8;
}

.bdb1 {
    border-bottom: 1px solid #e6e6e6;
}

.bdt {
    border-top: 1px solid #e8e8e8;
}

.bdn {
    border: none;
}

.border-r1 {
    border-radius: 0.1rem;
}

.border-r3 {
    border-radius: 0.3rem;
}

.border-r4 {
    border-radius: 0.4rem;
}

.border-r6 {
    border-radius: 0.6rem;
}

.mh21 {
    min-height: 2.1rem;
}

.h10 {
    height: 0.1rem;
}

.h20 {
    height: 0.2rem;
}

.h80 {
    height: 0.8rem;
}

.h100 {
    height: 1rem;
}

.h120 {
    height: 1.2rem;
}

.h320 {
    height: 3.2rem;
}

.w50 {
    width: 50%;
}

.w80 {
    width: 80%;
}

.w100 {
    width: 100%;
}

.bl {
    border-left: 1px solid #dadada;
}

.dpn {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex_e{
    display: flex;
    align-items: end;
    justify-content: center;
}

.flex_n {
    display: flex;
}

.flex_a {
    display: flex;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex1 {
    flex: 1;
}

.bsb {
    box-sizing: border-box;
}

.dib {
    display: inline-block;
}

.arrow_right img {
    width: 0.18rem;
}

.empty .logo {
    float: left;
    margin-left: 20px;
}

.empty .logo img {
    height: 100px;
}

.empty .msg {
    height: 100px;
    line-height: 100px;
    margin-left: 120px;
    font-size: 14px;
}















/*图片上传*/

.pic_box {
    background-color: #fff;
    padding: 0 0.24rem;
    display: flex;
}

.pic_box label {
    width: 1.24rem;
    height: 1.24rem;
    background: url("../img/pic_add.png") no-repeat;
    background-size: 1.24rem 1.24rem;
    overflow: hidden;
}

.add_pic img {
    width: 1.24rem;
    height: 1.24rem;
}

.pic_box label {
    margin-bottom: 0.24rem;
}

.pic_box label+label {
    margin-left: 0.2rem;
}















/*加载中*/

.loading {
    text-align: center;
    font-size: 0.28rem;
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -5%;
        z-index: 2;
        color: #fff;
}

.spinner5>div {
    width: 0.3rem;
    height: 0.3rem;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner5 .bounce1 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.spinner5 .bounce2 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.spinner5 .bounce3 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.spinner5 .bounce4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.sel_scroll {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    display: none;
    z-index: 2;
}

.sel_scroll .list li {
    text-align: center;
    line-height: .7rem;
    font-size: .32rem;
    color: #999;
}

.sel_scroll .list li.active {
    background: #b78da2;
    color: #fff;
}

.sel_scroll .list li+li {
    border-top: 1px solid #dadada;
}

.sel_scroll .opera span {
    padding: 0 .24rem;
}

input.ph:-moz-placeholder {
    color: #999999;
}

input.ph::-moz-placeholder {
    color: #999999;
}

input.ph:-ms-input-placeholder {
    color: #999999;
}

input.ph::-webkit-input-placeholder {
    color: #999999;
}

.loadEffect {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 auto;
}

.loadEffect span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(.3);
        opacity: 0.5;
    }
}

.loadEffect span:nth-child(1) {
    left: 0;
    top: 50%;
    margin-top: -10px;
    -webkit-animation-delay: 0.13s;
}

.loadEffect span:nth-child(2) {
    left: 5px;
    top: 5px;
    -webkit-animation-delay: 0.26s;
}

.loadEffect span:nth-child(3) {
    left: 50%;
    top: 0;
    margin-left: -5px;
    -webkit-animation-delay: 0.39s;
}

.loadEffect span:nth-child(4) {
    top: 5px;
    right: 5px;
    -webkit-animation-delay: 0.52s;
}

.loadEffect span:nth-child(5) {
    right: 0;
    top: 50%;
    margin-top: -5px;
    -webkit-animation-delay: 0.65s;
}

.loadEffect span:nth-child(6) {
    right: 5px;
    bottom: 5px;
    -webkit-animation-delay: 0.78s;
}

.loadEffect span:nth-child(7) {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    -webkit-animation-delay: 0.91s;
}

.loadEffect span:nth-child(8) {
    bottom: 5px;
    left: 5px;
    -webkit-animation-delay: 1.04s;
}

.formBox .other a {
    line-height: 0.3rem;
    padding: 0.2rem 0.3rem;
    flex: 1;
}

.formBox .other .line_y {
    width: 1px;
    background-color: #dadada;
    height: 0.32rem;
}

.filter {
    -webkit-filter: blur(0.04rem);
    -moz-filter: blur(0.04rem);
    -o-filter: blur(0.04rem);
    -ms-filter: blur(0.04rem);
    filter: blur(0.04rem);
}

.tap:active {
    background-color: #d9ccca!important;
}

.checkbox_bg {
    width: .4rem;
    height: .4rem;
    border: 1px solid #ffa795;
    border-radius: 50%;
}

input:checked+.checkbox_bg::before {
    content: '';
    width: .22rem;
    height: .22rem;
    border-radius: 50%;
    background-color: #ffa795;
}

.btn:active,
.main_btn:active {
    background: #af081c;
}