.DS_Store

app/cache/*
!app/cache/index.html
!app/cache/.htaccess

app/logs/*
!app/logs/index.html
!app/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
app/logs/*
!app/logs/index.html
!app/logs/.htaccess
/vendor/
session_file/*
app/views/template_c/*
app/config/database.php
upload/*
beauty.*
backend.*
beauty.*.*
*.zip
app/config/config.php
app/config/database.php
app/cache/setting_about
