<title>押金管理 - <{if $row['id']}>编辑<{else}>添加<{/if}>押金 </title>
<div class="page-header">
	<h1>
		押金管理 <small> <i class="ace-icon fa fa-angle-double-right"></i> <{if $row['id']}>编辑<{else}>添加<{/if}>押金
		</small>
	</h1>
</div>
<!-- /.page-header -->

<div class="row">
	<div class="col-md-12">
<div class="main">
    <ul class="nav nav-tabs">
        <li><a href="/admin_system#page/admin_foregift/">押金列表</a></li>
        <li class="active"><a href="/admin_system#page/admin_foregift/edit/<{$row['id']}>"><{if $row['id']}>编辑<{else}>添加<{/if}>押金</a></li>
    </ul>

  <div class="panel panel-default">
        <div class="panel-body table-responsive">
        
        		<form class="form-horizontal" role="form" id="submitform" action="/admin_foregift/edit/<{$row['id']}>" method="post" accept-charset="utf-8">
           
            
            <div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right">押金号*:</label>
		<div class="col-xs-12 col-sm-4">
			<span class="block">
				<input id="foregiftno" name="foregiftno" value="<{if $row['foregiftno']}><{$row['foregiftno']}><{else}><{getrandno()}><{/if}>" class="form-control input-width" required />
			</span>
		</div>
        <div class="col-xs-12 col-sm-1">
        <a href="javascript:;" class=" check-foregift btn  btn-primary btn-sm">检测重复</a>
        </div>
		<div class="help-block inline"></div>
	</div>
    
      
			<div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right">押金金额:</label>
		<div class="col-xs-12 col-sm-5">
			<span class="block">
            	<input id="_money" type="hidden" name="_money" value="<{$row['money']}>" />
				<input id="money" type="text" name="money" value="<{$row['money']}>" class="form-control input-width" <{if $row['id']}>readonly<{/if}>  />
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>
    
    
             <div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right">会员*:</label>
		<div class="col-xs-12 col-sm-4">
			<span class="block">
				<input id="userid" name="userid" value="<{$row['userid']}>" style="width:100%" required />
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>
<script>
$(function () {
    $("#userid").select2({
		ajax: {
			url: "/admin_user/search",
			data: function (params) {
				return { 
					keywords: params,
				};
			},
			results:function(data,pageNo){
				return {
					results:data.data	
				};
			},
			processResults: function (data) { 
				return {
					results: data
				};
			},
			type: 'post',
			dataType: 'json'
		},		
		initSelection: function(elem, cbfunc){
		},
		allowClear: false,
		openOnEnter: false,
		minimumInputLength: 1,
	});
	<{if $row['userid']}>$('#userid').select2('data', {id:"<{$row['userid']}>", text:"<{$row['userid_account']}>"}).select2('val', ["<{$row['userid']}>"]);<{/if}>
});
</script>    
            
			<div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right">备注:</label>
		<div class="col-xs-12 col-sm-5">
			<span class="block">
				<input id="memo" type="text" name="memo" value="<{$row['memo']}>" class="form-control input-width" />
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>
    
      
    <div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right">押金时间:</label>
		<div class="col-xs-12 col-sm-5">
			<span class="block">
				<input id="createtime" type="text" name="createtime" value="<{formattime($row['createtime'], 'Y-m-d H:i:s', '')}>" class="form-control input-width datetimepicker" />
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>
    
      
    <div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right">支付时间:</label>
		<div class="col-xs-12 col-sm-5">
			<span class="block">
				<input id="paytime" type="text" name="paytime" value="<{formattime($row['paytime'], 'Y-m-d H:i:s', '')}>" class="form-control input-width datetimepicker" />
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>
    
    <div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right">退款时间:</label>
		<div class="col-xs-12 col-sm-5">
			<span class="block">
				<input id="refundtime" type="text" name="refundtime" value="<{formattime($row['refundtime'], 'Y-m-d H:i:s', '')}>" class="form-control input-width datetimepicker" />
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>
     
     
    <div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right">支付方式:</label>
		<div class="col-xs-12 col-sm-5">
			<span class="block">
            	<select name="paytype" id="paytype" class="form-control">
               		<{foreach $foregift_paytype as $k => $v}>                 
                		<option value="<{$k}>" <{if strval($row['paytype'])==strval($k)}>selected<{/if}>><{$v}></option>
                	<{/foreach}>
                    
                </select> 
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>
    
    <div class="form-group">
		<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right">押金状态:</label>
		<div class="col-xs-12 col-sm-5">
			<span class="block">
            	<input id="_status" type="hidden" name="_status" value="<{$row['status']}>" />
            	<select name="status" id="status" class="form-control">
               		<{foreach $foregift_status as $k => $v}>                 
                		<option value="<{$k}>" <{if strval($row['status'])==strval($k)}>selected<{/if}>><{$v}></option>
                	<{/foreach}>
                    
                </select> 
			</span>
		</div>
		<div class="help-block inline"></div>
	</div>
    
    
			 
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="button" id="saveedit" class="btn  btn-primary btn-lg">提交</button>
				</div>
			</div>
		</form>
        </div>
        </div>
	</div>
    </div>
</div>

<script type="text/javascript">
var isbusy = false;

$(function(){
	$('#submitform').validate({
			errorElement: 'div',
			errorClass: 'help-block',
			focusInvalid: true,
			rules: {
				title: {
					required: true
				}
			}
	});
	//YYYY-MM-DD HH:mm:ss
	$('.datetimepicker-date').datetimepicker({
		format: 'YYYY-MM-DD',
        language: 'zh-CN',
        pickDate: true,
        pickTime: false,
        hourStep: 1,
        minuteStep: 15,
        secondStep: 30,
        inputMask: true
	});
	//YYYY-MM-DD HH:mm:ss
	$('.datetimepicker').datetimepicker({
		format: 'YYYY-MM-DD HH:mm:ss',
        language: 'zh-CN',
        pickDate: true,
        pickTime: true,
        hourStep: 1,
        minuteStep: 15,
        secondStep: 30,
        inputMask: true
	});
	$('.check-foregift').click(function(){
		tooltipbox.show("<{translate('正在执行操作')}>");
		$.post('/admin_foregift/check', { 'id': "<{$row['id']}>", 'foregiftno': $('#foregiftno').val() }, function(res){
			if(res.status == '0'){
				tooltipbox.alert('押金号未添加');
			}else if(res.status == '-1'){
				tooltipbox.alert("<{translate('数据或网络错误')}>");
			}else{
				tooltipbox.alert('押金号已经存在');	
			}
		}, 'json').error(function(){
			tooltipbox.show("<{translate('数据或网络错误')}>");
		});
	});
	$('#saveedit').click(function(){
		if(!$('#submitform').valid())return false;
		if(isbusy)return false;
		isbusy = true;
		tooltipbox.show("<{translate('正在执行操作')}>");
		$.post('/admin_foregift/edit/<{$row['id']}>', $('#submitform').serialize(), function(res){
			if(res.status == '1'){
				tooltipbox.show('操作完成');
				location.href = '/admin_system#page/admin_foregift/';
			}else if(res.status == '0'){
				tooltipbox.alert('相同记录已经存在');	
			}else{
				tooltipbox.show("<{translate('数据或网络错误')}>");
			}
			isbusy = false;
		}, 'json').error(function(a, b, c){
			tooltipbox.show("<{translate('数据或网络错误')}>");
			isbusy = false;
		});
	});
});
</script> 