<title><{translate('系统设置')}> - <{translate('操作员编辑')}> </title>
<div class="row">
	<div class="col-md-12">
		<form class="form-horizontal" method="post" role="form" id="submitform"  >
			<div class="form-group">
				<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('用户名')}>:</label>
				<div class="col-xs-12 col-sm-4">
					<span class="block">
						<input id="adminname" type="text" name="adminname" value="<{$data->adminname}>" class="form-control input-width" autocomplete="new-password"  maxlength="100" required />
					</span>
				</div>
                <!--<div class="col-xs-12 col-sm-1">
        <a href="javascript:;" class=" check-adminname btn  btn-primary btn-sm">检测重复</a>
        </div>-->
				<div class="help-block inline"></div>
			</div>
            
            <div class="form-group">
				<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('呢称')}>*:</label>
				<div class="col-xs-12 col-sm-5">
					<span class="block">
						<input id="nickname" type="text" name="nickname" value="<{$data->nickname}>" class="form-control input-width" required />
					</span>
				</div>
				<div class="help-block inline"></div>
			</div>

			<div class="form-group">
				<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('密码')}>:</label>
				<div class="col-xs-12 col-sm-5">
					<span class="block" style="padding-top: 6px;"> <a href="#" id="password"><{translate('修改密码')}> </a></span>
				</div>
				<div class="help-block inline"></div>
			</div>

			<div class="form-group">
				<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('所属角色')}>:</label>
				<div class="col-xs-12 col-sm-5">
					<span class="block"  >
						<select name="gid" class="form-control input-width">
							<{foreach $roles as $v}>
							<option value="<{$v['id']}>"  <{if $v['id']==$data->gid}>selected <{/if}> ><{$v['title']}></option>
							<{/foreach}>
						</select> </span>
				</div>
				<div class="help-block inline"></div>
			</div>

			<div class="form-group">
				<label for="title" class="col-xs-12 col-sm-3 control-label no-padding-right"><{translate('状态')}>:</label>
				<div class="col-xs-12 col-sm-5">
					<span class="block"  > <label>
							<input type="radio" name="status" value="1" <{if $data->status==1}>
							checked="checked" <{/if}> > <{translate('启用')}> </label> &nbsp;&nbsp;&nbsp;<label>
							<input type="radio" name="status" value="0" <{if $data->status==0}>
							checked="checked" <{/if}> ><{translate('冻结')}> </label> </span>
				</div>
				<div class="help-block inline"></div>
			</div>
            
            
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="button" id="saveedit" class="btn  btn-primary btn-lg">
						提交
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="/style/assets/js/x-editable/bootstrap-editable.min.js"></script>
<script src="/style/assets/js/jquery.gritter.min.js"></script>
<script src="/style/assets/js/x-editable/ace-editable.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#password').editable({
				type: 'text',
				pk: <{$data->id}>,
				url: '/admin_bguser/save_pwd',
				title:"<{translate('修改密码')}>" ,
				value: '',
				success: function(response, newValue) {
				var json = eval('(' + response + ')');
				if (json.code == 0)
				return json.msg;
				},
				validate: function(value) {
				if ($.trim(value) == '') {
				return "<{translate('密码为空，不修改.')}>";
				}
				if($.trim(value).length<4)
					{
					return "<{translate('密码必须大于4位.')}>";
					}
				
				}
		});
		$('.check-adminname').click(function(){
			tooltipbox.show("<{translate('正在执行操作')}>");
			$.post('/admin_bguser/check', { 'id': "<{$data->id}>", 'adminname': $('#adminname').val() }, function(res){
				if(res.status == '0'){
					tooltipbox.alert('账号可用');
				}else if(res.status == '-1'){
					tooltipbox.alert('未提交数据');
				}else{
					tooltipbox.alert('账号已经存在');	
				}
			}, 'json').error(function(){
				tooltipbox.show("<{translate('数据或网络错误')}>");
			});
		});

		$("#saveedit").click(function() {
			//if ($('#submitform').valid()) {
				Dlc.service.post("/admin_bguser/save/<{$data->id}>", $("#submitform").serialize());
				return false;
				//$('#submitform').submit();
			//}
		});
	}); 
</script>
