
<title><{translate('代理提现')}> - <{translate('提现列表')}></title>
<div class="page-header">
	<h1>
		<{translate('代理提现')}> <small> <i class="ace-icon fa fa-angle-double-right"></i> <{translate('提现列表')}>
		</small>
	</h1>
</div>
<!-- /.page-header -->


<div class="row">
	<div class="col-xs-12">
    
    <ul class="nav nav-tabs">
        <li class="active"><a href="/admin_system#page/admin_cash/corp"><{translate('代理提现')}></a></li>
    </ul>
    <br />
    
     <div class="panel panel-success">
    <div class="panel-heading" onclick="$(this).parent().find('.panel-body').toggle()"><i class="glyphicon glyphicon-chevron-down"></i> <{translate('筛选')}></div>
    <div class="panel-body" style="display:">

      
            <div class="form-group form-search form-inline">
                   
                 <label class="control-label"><{translate('选择代理商')}></label>
                    <input id="adminid" name="adminid" value="<{$get.adminid}>" style="width:200px" />
                    
                    <label class="control-label"><{translate('状态')}></label>
                   
               
                    <select name="status" id="status" class="form-control">
                 	<option value=""><{translate('请选择')}></option>
               	<{foreach $cash_status as $k => $v}>                 
                		<option value="<{$k}>" <{if $get.status==strval($k)}>selected<{/if}>><{$v}></option>
                	<{/foreach}>
                    
                </select>   
                
                 <br /><br />
                <label class="control-label"><{translate('申请日期')}></label>
                    <input class="form-control " name="createtime1" id="createtime1" type="text" value="<{$get.createtime1}>" placeholder="">
                <label class="control-label"><{translate('至')}></label>
                    <input class="form-control " name="createtime2" id="createtime2" type="text" value="<{$get.createtime2}>" placeholder="">
                    
                 <br /><br />
                <label class="control-label"><{translate('处理日期')}></label>
                    <input class="form-control " name="lasttime1" id="lasttime1" type="text" value="<{$get.lasttime1}>" placeholder="">
                <label class="control-label"><{translate('至')}></label>
                    <input class="form-control " name="lasttime2" id="lasttime2" type="text" value="<{$get.lasttime2}>" placeholder="">
                
                    <button class="btn btn-default btn-sm"><i class="fa fa-search"></i> <{translate('搜索')}></button>
                    <{if chkcommand('/admin_cash/corp_export')}>
                    <input id="btnExport" class="btn btn-primary btn-sm" value="<{translate('导出')}>" type="button">
                   	<{/if}>
            </div>
       
    </div>
 
    </div>
		<script>
            laydate.render({
                elem: '#createtime1',
            });
            laydate.render({
                elem: '#createtime2'
            });
            laydate.render({
                elem: '#lasttime1',
            });
            laydate.render({
                elem: '#lasttime2'
            });

		</script>
		<script>
$(function(){
    $("#adminid").select2({
		ajax: {
			url: "/admin_corp/search",
			data: function (params) {
				return { 
					keywords: params
				};
			},
			results:function(data,pageNo){
				if(data.data.length){
					data['data'].splice(0, 0, {'id':'', 'text': "<{translate('请选择')}>"});
				}else{
					data['data'] = [{'id':'', 'text': "<{translate('请选择')}>"}];
				}
				return {
					results:data.data	
				};
			},
			processResults: function (data) {
				return { 
					results: data
				};
			},
			type: 'post',
			dataType: 'json'
		},	
		initSelection: function(elem, cbfunc){
		},
		allowClear: false,
		openOnEnter: false,
		minimumInputLength: 1,
	});
	<{if $get.adminid}>$('#adminid').select2('data', {id:"<{$get.adminid}>", text:"<{$get_adminid_account}>"}).select2('val', ["<{$get.adminid}>"]);<{/if}>
	//这里处理搜索key，引用 /style/assets/js/jquery.fn.js
	//注意php代码不需要处理搜索URL参数，分页URL的处理注意本页尾的JS代码
	//$.searchURL = function(url = location.href, sConr = '.form-search', sObj = 'input,select,textarea', sJoin = ','){/**/}
	$('.btn-default').click(function(){
		var url = $.searchURL( location.href );
		location.href = url;
	});
});
</script>                 
				 
				<form class="form-horizontal" role="form" id="submitform">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th></th>
								<th><{translate('代理商')}></th>
								<th><{translate('金额')}></th>
								<th><{translate('开户行')}></th>
								<th><{translate('银行卡号')}></th>
								<th><{translate('开户人姓名')}></th>
							<!--	<th>到账微信用户</th>-->
								<th><{translate('状态')}></th>
								<th><{translate('申请时间')}></th>
								<th><{translate('处理时间')}></th>
								<th><{translate('操作')}></th>
								 
							</tr>
						</thead>
						<tbody>
							<{foreach $cash.list as $v}>
							<tr class="alert1 success" align="left">
								<td><input type="checkbox" name="id[]" value="<{$v['id']}>" /> <{$v['id']}></td>
								<td><{$v['adminid']}>, <{$v['account']}></td>
								<td><{$v['money']}> <{translate('元')}></td>
								<td><{$v['bank_info']['bank_name']}></td>
								<td><{$v['bank_info']['bank_card']}></td>
								<td><{$v['bank_info']['name']}></td>
								<!--<td><{$v['nickname']}></td>-->
								<td><{$cash_status[$v['status']]}> <{if $v['status']}><br/> <{translate('拒绝原因')}>：<{$v['fail']}><{/if}></td>
								<td><{$v['createtime']}></td>
								<td><{$v['lasttime']}></td>
								<td >
									<{if chkcommand('/admin_cash/audit')}>
									<{if $v['status']==0}>
									<a href="javascript:;" data-id="<{$v['id']}>" data-status="1" data-msg="<{translate('确定通过审核？')}>" class="btn btn-xs btn-success audit"><i class="fa fa-check"></i> <{translate('通过')}></a>
									<a href="javascript:;" data-id="<{$v['id']}>" data-status="2" data-msg="<{translate('确定拒绝审核？')}>" class="btn btn-xs btn-danger reject"><i class="fa fa-times"></i> <{translate('拒绝')}></a>
									<{/if}>
									<{if $v['status']==1}>
									<a href="javascript:;" data-id="<{$v['id']}>" data-status="3"  data-msg="<{translate('确定打款？')}>" class="btn btn-xs btn-pink audit"><i class="fa fa-rmb"></i> <{translate('打款')}></a>
									<{/if}>
									<{/if}>
								</td>
							</tr>
							<{/foreach}>
					<tr style="position:fixed; bottom:0; width:100%; background:#fff;z-index:9">
						<td style="border:none" colspan="12"><input type="checkbox" id="checkall" onclick="var ck = this.checked;$('input[name=&quot;id[]&quot;]').each(function(){this.checked = ck});">
							<{if chkcommand('/admin_cash/corp_delete')}>
                            <input id="btnDelete" class="btn btn-lg btn-default" value="<{translate('删除')}>" type="button">
                            <{/if}>
						</td>
					</tr>

						</tbody>
					</table>
                     <table   style="width:100%;" class="listpage"><tr><td ><{translate('共')}> <{$cash.total}> <{translate('条记录')}> <{$cash.pages}>  </td></tr></table>
					
				</form>
                </div>
			</div>
		</div>

 
	<script type="text/javascript">
 	var isbusy = false;
	//这里处理分页搜索key，引用 /style/assets/js/jquery.fn.js
	//注意php代码不需要处理搜索URL参数，分页URL的处理注意本页尾的JS代码
	//$.searchURL = function(url = location.href, sConr = '.form-search', sObj = 'input,select,textarea', sJoin = ','){/**/}
	$(function(){
		$('.listpage').find('a').each(function(){
			var url = $.replaceURL( location.href, 'page', $(this).attr('data-ci-pagination-page') );
			$(this).attr('href', url);
		});
        $(".reject").click(function () {
            var id = $(this).data('id');
            layer.prompt({title:"<{translate('拒绝原因')}>" , formType: 2,content:'<div><textarea name="txt_remark" id="remark" style="width:200px;height:80px;" placeholder="<{translate("拒绝原因")}>"></textarea></div>',
				yes: function (index, layero) {
                    var reject_cause = $('#remark').val();
                    if (!reject_cause) {
                        tooltipbox.show("<{translate('请输入拒绝原因')}>");
                        return false
                    }
                    $.post("/admin_cash/audit", {reject_cause: reject_cause, id: id, status: 2}, function (re) {
                        if (re.status == 1) {
                            tooltipbox.show("<{translate('操作执行成功')}>");
                        } else {
                            tooltipbox.show("<{translate('操作执行失败')}>");
                        }
                        layer.close(index);
                        location.reload();
                    }, 'json');
                }
            });
        });
        $('.audit').click(function(){
            var id = $(this).data('id');
            var status = $(this).data('status');
            var msg=$(this).data('msg');

            tooltipbox.confirm(msg, function(data){
                tooltipbox.show("<{translate('正在执行操作')}>");
                $.post('/admin_cash/audit', data, function(res){
                    if(res.status == '1'){
                        tooltipbox.show("<{translate('操作执行成功')}>");
                        location.reload();
                    }else{
                        tooltipbox.show(res.msg);
                    }
                }, 'json').error(function(){
                    tooltipbox.show("<{translate('数据或网络错误')}>");
                });
            }, false, { 'id': id,'status':status });
        });
		$('#btnDelete').click(function(){
			var ckvals = $.selectCK('input[name="id[]"]');
			if(!ckvals){
				tooltipbox.show("<{translate('请选择要操作的数据')}>");
				return false;
			}
			tooltipbox.confirm("<{translate('确定永久删除选中的数据')}>？", function(data){
				tooltipbox.show("<{translate('正在执行操作')}>");
				$.post('/admin_cash/corp_delete', data, function(res){
					if(res.status == '1'){
						tooltipbox.show("<{translate('操作执行成功')}>");
						location.reload();
					}else{
						tooltipbox.show("<{translate('数据或网络错误')}>");
					}
				}, 'json').error(function(){
					tooltipbox.show("<{translate('数据或网络错误')}>");
				});
			}, false, { 'ids': ckvals });
		});
		$('#btnClear').click(function(){
			tooltipbox.confirm("<{translate('确定永久清空所有数据？')}>", function(data){
				tooltipbox.show("<{translate('正在执行操作')}>");
				$.post('/admin_cash/corp_clear', { }, function(res){
					if(res.status == '1'){
						tooltipbox.show("<{translate('操作执行成功')}>");
						location.reload();
					}else{
						tooltipbox.show("<{translate('数据或网络错误')}>");
					}
				}, 'json').error(function(a, b, c){
					tooltipbox.show("<{translate('数据或网络错误')}>");
				});
			});
		});
		$('#btnExport').click(function(){
			tooltipbox.show("<{translate('正在执行操作')}>");
			var ckvals = $.selectCK('input[name="id[]"]');
			var url = $.searchURL( '/admin_cash/corp_export' );
			$.post(url, { 'ids': ckvals ? ckvals : '' }, function(res){
				if(res.status == '1'){
					tooltipbox.show("<{translate('正在下载文件')}>");
					$.download(res.url);
				}else{
					tooltipbox.show("<{translate('数据或网络错误')}>");
				}
			}, 'json').error(function(){
				tooltipbox.show("<{translate('数据或网络错误')}>");
			});
			
			return false;
		});
	});
</script>
 
 
